@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    background: url('https://ai-interview-mocker.vercel.app/grid.svg');
    background-size: 90%;
}

@media screen and (max-width:700px) {
    body {
        background-size: 600%;
    }

}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}


@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: rgb(255, 255, 255);
    }
}

.typing-effect {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid rgb(255, 255, 255);
    animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}